@model EmployeeDatabaseFinal.Employee

@{
    ViewBag.Title = "Employee Database Menu";
}




<div class="container">
    <h1 class="page-header text-center">WELCOME TO THE EMPLOYEE DATABASE</h1>
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
        @using (Html.BeginForm("ViewEmployees", "Home"))
        {
            <button class="btn-lg btn-default text-center col-md-8" type="submit">View Employee Database</button>
        }

        <br />
        <br />
        <br />
        <br />

        @using (Html.BeginForm("Create", "Home"))
        {
            <button class="btn-lg btn-default text-center col-md-8" type="submit">Create a new Employee</button>
        }

        <br />
        <br />
        <br />
        <br />

        @if (Request.IsAuthenticated)
        {

            using (Html.BeginForm("Logout", "Account"))
            {
                <button class="btn-lg btn-default text-center col-md-8" type="submit">Logout</button>
            }
        }
    </div>

</div>

